<div class="container my-5">
  <div class="row">
    <div class="col">

      <h1 class="mb-4">🐠 Pagination Front to Back</h1>

      <!-- controls -->
      <div class="input-group mb-3">

        <!-- search -->
        <input type="text" class="form-control" placeholder="Search..." (keyup)="search($event)">

        <!-- size -->
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">Size:
          {{options.size}}</button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><button class="dropdown-item" type="button" (click)="size(5)">5</button></li>
          <li><button class="dropdown-item" type="button" (click)="size(10)">10</button></li>
          <li><button class="dropdown-item" type="button" (click)="size(20)">20</button></li>
          <li><button class="dropdown-item" type="button" (click)="size(50)">50</button></li>
          <li><button class="dropdown-item" type="button" (click)="size(100)">100</button></li>
        </ul>
      </div>

      <!-- table -->
      <div class="card mb-3" *ngIf="response">
        <div class="card-body">
          <table class="table" style="table-layout: fixed;">
            <thead>
              <tr>
                <th (click)="order('Code')" role="button" style="width: 10%;">
                  # <span *ngIf="by('Code')">{{ direction }}</span>
                </th>
                <th (click)="order('Name')" role="button">
                  Name <span *ngIf="by('Name')">{{ direction }}</span>
                </th>
                <th (click)="order('Job')" role="button">
                  Job <span *ngIf="by('Job')">{{ direction }}</span>
                </th>
                <th (click)="order('Salary')" role="button" style="width: 15%;">
                  Salary <span *ngIf="by('Salary')">{{ direction }}</span>
                </th>
                <th (click)="order('Department')" role="button">
                  Department <span *ngIf="by('Department')">{{ direction }}</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of response.records">
                <td>{{employee.Code}}</td>
                <td>{{employee.Name}}</td>
                <td>{{employee.Job}}</td>
                <td>{{employee.Salary | currency:'INR'}}</td>
                <td>{{employee.Department}}</td>
              </tr>
              <tr *ngIf="!response.records.length">
                <td colspan="5" class="text-center p-5">No records found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- paginator -->
      <nav *ngIf="numbers.length > 1">
        <ul class="pagination justify-content-center">
          <li id="prev" class="page-item" [ngClass]="{ 'disabled': options.page === 1 }">
            <a class="page-link" href="#" (click)="prev()">Previous</a>
          </li>
          <ng-container *ngIf="response">
            <li class="page-item" *ngFor="let number of numbers" [ngClass]="{ 'active': options.page === number }">
              <a class="page-link" href="#" (click)="to(number)">{{number}}</a>
            </li>
          </ng-container>
          <li id="next" class="page-item" [ngClass]="{ 'disabled': options.page === numbers.length }">
            <a class="page-link" href="#" (click)="next()" disabled="true">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>